/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
	background-color: #f3f6fd;
	padding: 40px;
	text-align: justify;
  }
  .about h3 {
	font-size: 16px;
	font-weight: 700;
	color: #444444;	
	line-height: 1.5;
  }
  .about h2 {
	font-size: 24px;
	font-weight: 700;
	color: #012970;
  }
  .about p {
	margin: 15px 0 30px 0;
	line-height: 1.5;
  }
  
  @media (max-width: 991px) {
	.about {
	  height: auto;
	  padding: 120px 0 60px 0;
	}
	
	.about img {
	  text-align: center;
	  margin-top: 80px;
	}
  }
  @media (max-width: 768px) {
	.about {
	  text-align: center;
	}
	.about h1 {
	  font-size: 32px;
	}
	.about h2 {
	  font-size: 24px;
	}
	.about img {
	  display: none;
	}
  }