.welcome{
	margin-top: 100px;
	background-color: #B9CCED !important;
}
.card-dashboard{
	background-image: linear-gradient(to top, #012970, #7ea3e2) !important;
	height: 200px;
}
.title{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.jumlah{
	margin-top: 30px;
	color: #fff;
	font-weight: 800;
	font-size: 60px;
}

