/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	background: #f3f6fd;
	padding: 0 0 20px 0;
	font-size: 14px;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  }
 
  .footer .copyright {
	text-align: center;
	padding-top: 30px;
	font-size: 15px;
	color: #012970;
  }
  .footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
  }